*
!native/
!native/Cargo.toml
!native/Cargo.lock
!native/src/
!native/src/*.rs
!requirements.txt
!requirements-plotter.txt
!scripts/
!scripts/*.py
!scripts/missile_model/
!scripts/missile_model/*.py
!scripts/missile_model/*.json
!scripts/missile_model/launch-profiles/
!scripts/missile_model/launch-profiles/*.json
!app/
!app/*.html
!app/*.js
!app/*.css
!app/release.json
!app/icons/
!app/icons/*.png
!app/icons/*.svg
!build-info.json
!app/vendor/
!app/vendor/*.js
