*
!/.gitignore
!/.gitattributes
!/.dockerignore
!/Dockerfile
!/fly.toml
!/requirements*.txt
!/*.cmd
!/scripts/
!/scripts/*.py
!/tests/
!/tests/*.py
!/app/
!/app/*.js
!/app/*.css
!/app/*.html
!/app/vendor/
!/app/vendor/*.js
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/deploy/
!/deploy/oracle/
!/deploy/oracle/*.py
!/deploy/oracle/*.sh
!/deploy/oracle/*.md
